@model TechnologyComplex.Models.Service
<html>
<head>

    <meta charset="utf-8">
</head>
<body>
    <style>


        div {
            border-radius: 5px;
        }

        input {
            border-radius: 5px;
            outline: none;
            border: none;
        }

        
    </style>

    <form asp-action="AddService" asp-controller="Home" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#ServicesResult">

            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" area-hidden="true">X</button>
                    <h4>Добавить Сервис</h4>
                </div>
                <div class="modal-body">

                    <input type="hidden" value="@ViewBag.Id_Motor" name="Id_Motor" />
                    <input type="hidden" value="@ViewBag.Number_New_Service" name="Number" />





                    <dt>Название сервиса</dt>
                    <dd> @Html.EditorFor(m => m.Name_Of_Service, new { htmlAttributes = new { @class = "form-control" } })</dd>


                    <dt>Кол-во наработанных часов</dt>
                    <dd> @Html.EditorFor(m => m.Work_Hours, new { htmlAttributes = new { @class = "form-control" } })</dd>
                    <dt>Комментарий</dt>
                    <dd> @Html.EditorFor(m => m.Commentary, new { htmlAttributes = new { @class = "form-control" } })</dd>
                    <dt>Дата проведения сервиса</dt>
                    <dd> @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control" } })</dd>

                    <div style="position:relative;top:10px;">
                        <dd><input style="text-align: left;" type="submit" value="Добавить" /></dd>
                    </div>

                </div>

            </div>
</form>

</body>
</html>
