<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <style>
        div {
            border-radius: 5px;
        }
        input {
            border-radius: 5px;
            outline: none;
            border: none;
        }
        .p {
            display: table-cell;
            font-size: xx-large;
            font-weight: bold;
            text-align: center;
            vertical-align: middle
        }
    </style>
</head>

<body>
    <p class="p" style="margin:10px auto;">Control Modules of Equipment @ViewBag.Name</p>
    <div style="margin:10px auto; width: 1400px;height: 800px;position: relative;">


                 <div style="display:table;width: 300px;height: 300px; position: absolute;top: 0px; left: 0px">

            @using (Html.BeginForm("Valve", "Home", FormMethod.Post))
                 {
            <input type="hidden" value="@ViewBag.Id" name="id_equipment" />
            <input type="hidden" value="@ViewBag.Name" name="Name" />
            <input class="p"  value="Valves" type="submit" style="background:#e3dede; position: absolute ;width: 300px ;height: 300px; top: 0px; left: 0px" />

                 }
                     </div>

        <div style="display:table;width: 300px;height: 300px; position: absolute;top: 0px; left: 350px">
            @using (Html.BeginForm("Motor", "Home", FormMethod.Post))
                 {
            <input type="hidden" value="@ViewBag.Id" name="id_equipment" />
            <input type="hidden" value="@ViewBag.Name" name="Name" />
            <input class="p"  value="Motors" type="submit" style="background:#e3dede; position: absolute ;width: 300px ;height: 300px; top: 0px; left: 0px" />
                 }
                     </div>



        <div style="display:table;width: 300px;height: 300px; position: absolute;top: 0px; left: 700px">
            @using (Html.BeginForm("Temperature_Sensor", "Home", FormMethod.Post))
                 {
            <input type="hidden" value="@ViewBag.Id" name="id_equipment" />
            <input type="hidden" value="@ViewBag.Name" name="Name" />
            <input class="p" value="Temperature &#x00A;sensors" type="submit" style="background:#e3dede; position: absolute ;width: 300px ;height: 300px; top: 0px; left: 0px" />
                 }
                     </div>

        <div style="display:table;width: 300px;height: 300px; position: absolute;top: 350px; left: 0px">
            @using (Html.BeginForm("Pressure_Sensor", "Home", FormMethod.Post))
            { 
        <input type="hidden" value="@ViewBag.Id" name="id_equipment" />
        <input type="hidden" value="@ViewBag.Name" name="Name" />
            <input class="p" value="Pressure &#x00A;sensors" type="submit" style="background:#e3dede; position: absolute ;width: 300px ;height: 300px; top: 0px; left: 0px" />
            }
        </div>

         </div>


</body>


