<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/AdminLTE/dist/css/kendo.common.min.css" />
    <link rel="stylesheet" href="~/AdminLTE/dist/css/kendo.default.min.css" />
    <link rel="stylesheet" href="~/AdminLTE/dist/css/kendo.default.mobile.min.css" />
    <link rel="stylesheet" href="~/AdminLTE/dist/css/kendo.rtl.min.css" />



    <script src="~/AdminLTE/dist/js/jquery.min.js"></script>
    <script src="~/AdminLTE/dist/js/jszip.min.js"></script>
    <script src="~/AdminLTE/dist/js/kendo.all.min.js"></script>



    <meta charset="utf-8">
    <title>Main</title>
    <style>
        div {
            border-radius: 5px;
        }

        input {
            border-radius: 5px;
            outline: none;
            border: none;
        }

        .p {
            display: table-cell;
            font-size: xx-large;
            font-weight: bold;
            text-align: center;
            vertical-align: middle
        }

        .demo-section {
            display: inline-block;
            margin: 15px 30px 15px 0;
        }

        .k-qrcode {
            display: inline-block;
            margin: 10px 0 0;
            border: none;
        }

    </style>
</head>

<body>
    <p class="p" style="margin:10px auto;">Modules of @ViewBag.Name</p>
    <div style="margin:10px auto; width: 1400px;height: 800px;position: relative;">


        <div style="position: relative;">
            @using (Html.BeginForm("Motor", "Home", FormMethod.Post))
        {
        <input type="hidden" value="@ViewBag.Id_Facility" name="Id_Facility" />
        <input type="hidden" value="@ViewBag.Name_Facility" name="Name_Facility" />
        <input type="hidden" value="@ViewBag.Id_WorkFlow" name="Id_WorkFlow" />
        <input type="hidden" value="@ViewBag.Name_WorkFlow" name="Name_WorkFlow" />
        <input type="hidden" value="@ViewBag.Id_Area" name="Id_Area" />
        <input type="hidden" value="@ViewBag.Name_Area" name="Name_Area" />
        <input type="hidden" value="@ViewBag.Id_Unit" name="Id_Unit" />
        <input type="hidden" value="@ViewBag.Id_Equipment" name="Id_Unit" />
        <input type="hidden" value="@ViewBag.Name_Unit" name="Name_Unit" />
        <input type="hidden" value="@ViewBag.Name_Tanks" name="Name" />
        <input type="hidden" value="@ViewBag.Format" name="format" />
        <input class="fas fa-angle-double-left" value="Back" type="submit" />
    }
        </div>


        <div style="display:table;width: 300px;height: 300px; position: absolute;top: 30px; left: 0px">

            @using (Html.BeginForm("Motor_Document", "Home", FormMethod.Post))
                 {
        <input type="hidden" value="@ViewBag.Id_Motor" name="Id_Motor" />

        <input class="p" value="Documentation" type="submit" style="background:#e3dede; position: absolute ;width: 300px ;height: 300px; top: 0px; left: 0px" />

                 }
        </div>

        <div style="display:table;width: 300px;height: 300px; position: absolute;top: 30px; left: 350px">
            @using (Html.BeginForm("Motor", "Home", FormMethod.Post))
                 {
        <input type="hidden" value="@ViewBag.Id" name="Id_Equipment" />
        <input type="hidden" value="@ViewBag.Name" name="Name" />
        <input class="p" value="Map" type="submit" style="background:#e3dede; position: absolute ;width: 300px ;height: 300px; top: 0px; left: 0px" />
                 }
        </div>



        <div style="display:table;width: 300px;height: 300px; position: absolute;top: 380px; left: 350px">
            @using (Html.BeginForm("Motor_Working_Hours", "Home", FormMethod.Post))
    {
        <input type="hidden" value="@ViewBag.Id_Equipment" name="Id_Equipment" />
        <input type="hidden" value="@ViewBag.Id_Unit" name="Id_Unit" />
        <input type="hidden" value="@ViewBag.Id_Motor" name="Id_Motor" />
        <input type="hidden" value="@ViewBag.Name" name="Name" />
        <input type="hidden" value="@ViewBag.Tag" name="Tag" />
        <input class="p" value="Working &#x00A;hours" type="submit" style="background:#e3dede; position: absolute ;width: 300px ;height: 300px; top: 0px; left: 0px" />
}
        </div>

        <div style="display:table;width: 300px;height: 300px; position: absolute;top: 380px; left: 0px">
            @using (Html.BeginForm("Motor_Parametrs", "Home", FormMethod.Get))
            {
        <input type="hidden" value="@ViewBag.Id_Motor" name="Id_Motor" />
        <input class="p" value="Parameters" type="submit" style="background:#e3dede; position: absolute ;width: 300px ;height: 300px; top: 0px; left: 0px" />
            }
        </div>

        </div>


        <div class="qr-wrapper" style="width: 300px;height: 300px; position: absolute;top: 0px; left: 1200px">

            <div class="demo-section">
                <h3>QR CODE FOR @ViewBag.Name</h3>
                <div id="qrUrl"></div>
            </div>

        </div>



        <script type="text/javascript">
$(document).ready(function () {


                $("#qrUrl").kendoQRCode({
                    value: "https://localhost:5001/Home/Motor_Panel?Id_Area=@ViewBag.Id_Area&Name_Unit=@ViewBag.Name_Unit&Name_Tanks=@ViewBag.Name_Tanks&Id_Equipment=@ViewBag.Id_Equipment&Name=@ViewBag.Name&Name_Area=@ViewBag.Name_Area&format=@ViewBag.Format&Id_WorkFlow=@ViewBag.Id_WorkFlow&Name_WorkFlow=@ViewBag.Name_WorkFlow&Id_Facility=@ViewBag.Id_Facility&Name_Facility=@ViewBag.Name_Facility&Id_Unit=@ViewBag.Id_Unit&Id_Motor=@ViewBag.Id_Motor&Name=@ViewBag.Name&Tag=@ViewBag.Tag",
                    errorCorrection: "M",
                    size: 220,
                    border: {
                        color: "#000000",
                        width: 5
                    }
                });

            });</script>

</body>


